<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>
<body>
    <div class="htmlEditor">
        <textarea id="htmlEditor" class="editor" placeholder="HTML Editor"></textarea>
      </div>
      <div class="cssEditor">
        <textarea id="cssEditor"  class="editor" placeholder="CSS Editor"></textarea>
      </div>
      <div class="jsEditor">
        <textarea id="jsEditor"   class="editor" placeholder="JavaScript Editor">document.body.innerHTML = "hello world"</textarea>
      </div>
      <div class="preview">
        <iframe id="preview"></iframe>
      </div>   
      <script src="script.js"></script>
</body>
</html>

