img{
    width: 75%;
  display: block;
  max-width: 100%;
  height: auto;
}

h1{
    text-align: center;
    color:#7952b3;
}
.subtitle{
    text-align:center;
    font-size: 22px;
    padding: 5%;
}


body{
    padding: 1%;
}

.bottom-page {
    position:absolute;
    bottom:0;
    width: 79%;
    height:190px;   /* Height of the footer */
    font-size: 22px;

 }
 .tecnologias{
     font-size: 15px;
 }
